@font-face {
    font-family: "JetBrains Mono";
    src: url(../woff2/JetBrainsMono-Regular.woff2);
}

::-moz-selection { /* Code for Firefox */
    color: black;
    background: yellow;
}

::selection {
    color: black;
    background: yellow;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "JetBrains Mono";
    background: white;
    /*background: black;*/
    scroll-behavior: smooth;
    overflow: hidden;
    height: 100%;
}

a {
    color: black;
}

a:hover {
    color: black;
}

.center-container {
    align-items: center;
    display: flex;
    min-height: 100%;
}

.box {
    text-align: center;
    transition: 0.25s;
    transform: translateY(30%);
}

.box input[type="text"],
.box input[type="password"] {
    background: none;
    display: block;
    margin: 1em auto;
    text-align: center;
    border: 2px solid black;
    /*border: 2px solid white;*/
    /*padding: 10px 10px;*/
    width: 21em;
    height: 2.7em;
    outline: none;
    /*color: white;*/
    color: black;
    border-radius: 24px;
    transition: 0.25s;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    /*color: rgba(255, 255, 255, .8);*/
    color: rgba(0, 0, 0, .8);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    /*color: rgba(255, 255, 255, .8);*/
    color: rgba(0, 0, 0, .8);
}

::-ms-input-placeholder { /* Microsoft Edge */
    /*color: rgba(255, 255, 255, .8);*/
    color: rgba(0, 0, 0, .8);
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 20em;
    /*border-color: white;*/
    border-color: black;
}

.box .login-button {
    /*background: rgba(0, 0, 0, .5);*/
    background: rgba(255, 255, 255, .5);
    display: block;
    margin: 1em auto;
    text-align: center;
    /*border: 2px solid white;*/
    border: 2px solid black;
    outline: none;
    /*color: rgba(255, 255, 255, .9);*/
    color: rgba(0, 0, 0, .9);
    border-radius: 24px;
    transition: 0.5s;
    width: 21em;
    height: 2.7em;
    cursor: pointer;
    vertical-align: middle;
}

.box .login-button:hover {
    /*background: white;*/
    background: black;
    /*color: black;*/
    color: white;
    width: 20em;
}

.unusual-actions {
    padding-bottom: .5em;
    font-size: .9em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: table;
}

.forgot-password,
.registration {
    display: table-cell;
}

.forgot-password {
    padding-right: .5em;
}

.registration {
    padding-left: .5em;
}

.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0
}

.social-network {
    display: inline;
    margin: 0 5px
}

.social-circle {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    font-size: 30px
}

.social-circle i {
    margin: 0;
    line-height: 50px;
    text-align: center
}

.social-circle:hover i,
.triggeredHover {
    transform: rotate(360deg);
    transition: all .4s
}

.social-circle i {
    /*color: white;*/
    color: black;
    transition: all .8s;
}


.nav .nav-link {
    background-color: white;
    color: black;
}

.nav-link .nav-link.active {
    background-color: black;
    color: white;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: white;
    background-color: black;
}

.welcome {
    text-align: center;
    width: 100%;
}