@font-face {
    font-family: "JetBrains Mono";
    src: url(../fonts/JetBrains_Mono/woff2/JetBrainsMono-Regular.woff2);
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.shake {
    animation: shake .5s;
}

::-moz-selection { /* Code for Firefox */
    color: black;
    background: yellow;
}

::selection {
    color: black;
    background: yellow;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    /*color: rgba(255, 255, 255, .8);*/
    color: rgba(0, 0, 0, .8);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    /*color: rgba(255, 255, 255, .8);*/
    color: rgba(0, 0, 0, .8);
}

::-ms-input-placeholder { /* Microsoft Edge */
    /*color: rgba(255, 255, 255, .8);*/
    color: rgba(0, 0, 0, .8);
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "JetBrains Mono", serif;
    background: white;
    /*background: black;*/
    /*overflow: hidden;*/
    overflow-x: hidden;
    height: 100%;
}

a {
    color: black;
}

a:hover {
    color: black;
}

label {
    display: none;
    margin-bottom: 0;
}

code {
    color: darkred;
}

.center-container {
    align-items: center;
    display: flex;
    min-height: 100%;
}

.box {
    text-align: center;
    transition: 0.25s;
}

    .box .login-form {
        transform: translateY(50%);
    }

    .box .reset-form {
        transform: translateY(65%);
    }

    .box .registration-form {
        transform: translateY(30%);
    }

    .box input[type="text"],
    .box input[type="password"] {
        background: none;
        display: block;
        margin: 1em auto;
        text-align: center;
        border: 2px solid black;
        /*border: 2px solid white;*/
        /*padding: 10px 10px;*/
        width: 21em;
        height: 2.7em;
        outline: none;
        /*color: white;*/
        color: black;
        border-radius: 24px;
        transition: 0.25s;
    }


    .box input[type="text"]:focus,
    .box input[type="password"]:focus {
        width: 20em;
        /*border-color: white;*/
        border-color: black;
    }

    .box .major-button {
        /*background: rgba(0, 0, 0, .5);*/
        background: rgba(255, 255, 255, .5);
        display: block;
        margin: 1em auto;
        text-align: center;
        /*border: 2px solid white;*/
        border: 2px solid black;
        outline: none;
        /*color: rgba(255, 255, 255, .9);*/
        color: rgba(0, 0, 0, .9);
        border-radius: 24px;
        transition: 0.5s;
        width: 21em;
        height: 2.7em;
        cursor: pointer;
        vertical-align: middle;
    }

    .box .major-button:hover {
        /*background: white;*/
        background: black;
        /*color: black;*/
        color: white;
        width: 20em;
    }

.unusual-actions {
    padding-bottom: .5em;
    font-size: .9em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: table;
}

.reset-password,
.registration {
    display: table-cell;
}

.unusual-actions-sep {
    cursor: context-menu;
}

.reset-password:hover,
.registration:hover,
.back-to-login:hover{
    text-decoration: underline;
    cursor: pointer;
}

.reset-password {
    padding-right: .5em;
}

.registration {
    padding-left: .5em;
}

.back-to-login {
    padding-bottom: .5em;
    font-size: .9em;
}

.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0
}

.social-network {
    display: inline;
    margin: 0 5px
}

.social-circle {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    font-size: 30px
}

.social-circle i {
    margin: 0;
    line-height: 50px;
    text-align: center
}

.social-circle:hover i,
.triggeredHover {
    transform: rotate(360deg);
    transition: all .4s
}

.social-circle i {
    /*color: white;*/
    color: black;
    transition: all .8s;
}

/* Julia Main Contest Page */
.wrapper {
    display: block;
}

.sidebar {
    width: 300px;
    height: 100vh;
    position: fixed;
    padding-top: 10px;
    left: -305px;
    z-index: 999;
    background: white;
    color: black;
    transition: all .3s;
    text-align: center;
}

.sidebar.active {
    left: 0;
}

.content {
    position: relative;
    width: 100vw;
    height: 100vh;
    transition: all 0.3s;
    left: 0;
}


.content.sidebar-is-active {
    left: 150px;
}

a.sidebar-open {
    background: none;
    border: 0;
    color: black;
    position: fixed;
    line-height: 35px;
    text-align: center;
    top: 45vh;
    left: 15px;
    z-index: 997;
}

a.sidebar-open:hover,
a.sidebar-open:active,
a.sidebar-open:focus,
a.sidebar-open:active:focus,
a.sidebar-open.active:focus,
a.sidebar-open.btn.btn-primary:not(:disabled):not(.disabled):active,
a.sidebar-open.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    top: 45vh;
    outline: 0;
    border: 0;
    background: none;
    color: black;
    font-size: 2em;
    box-shadow: none;
}

.tab-content {
    position: absolute;
    width: 100%;
    padding: 0 20vw 1.5em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.large {
    padding: 9vw 20vw 1.5em;
    top: 0;
    left: 0;
    transform: none;
}

.sidebar-dismiss {
    width: 35px;
    position: absolute;
    top: 45vh;
    right: -5px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
}

.sidebar-dismiss:hover,
.sidebar-dismiss:focus {
    outline: 0;
    border: 0;
    background: none;
    color: black;
    font-size: 2em;
    box-shadow: none;
}

.contest-container {
    position: relative;
    height: 100%;
}

.contest-row {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.nav {
    position: absolute;
    width: 16.4em;
    left: 1em;
}

.nav .nav-link {
    background-color: white;
    color: black;
    margin-bottom: .2em;
}

.nav-link .nav-link.active {
    background-color: black;
    color: white;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: white;
    background-color: black;
}

#standing-tab {
    margin-top: 1em;
}

.nav .nav-link:hover {
    color: white;
    background-color: black;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

.send-solution-forms {
    position: absolute;
    bottom: 1em;
    left: 1em;
}

.header {
    margin-bottom: .5rem;
}

.task-parameter {
    padding-right: 5em;
    padding-bottom: .5em;
}

.io-table {
    width: 100%;
    margin-bottom: 2rem;
    color: black;
    margin-top: 2rem;
}

.io-table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid black;
}

.io-table td, .io-table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid black;
}

.select-language {
    display: block;
    padding: .375rem .75rem;
    margin: .5em auto;
    width: 16.2em;
    text-align-last: center;
    text-align: center;
    line-height: 1.5;
    color: black;
    background-color: white;
    background-clip: padding-box;
    border: 2px solid black;
    border-radius: 24px;
    transition: color .2s ease-in-out, background-color .2s ease-in-out, border-width .0s ease-in-out;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance:none;
    outline: 0;
}
.select-language:hover {
    color: white;
    background-color: black;
    border-width: 0;
    padding: 0.5rem 1.75rem;
}

.upload-solution {
    width: 1px;
    height: 1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    margin: 0 auto;
    z-index: -1;
}

.upload-solution + label {
    border: 2px solid black;
    border-radius: 24px;
    margin: .5em auto;
    color: black;
    display: inline-block;
    width: 16.2em
}

.upload-solution:hover + label,
.upload-solution + label:hover {
    color: white;
    background-color: black;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

.upload-solution-form {
    text-align: center;
}

.send-solution-button {
    background: rgba(255, 255, 255, .5);
    display: block;
    line-height: 1.5;
    text-align: center;
    border: 2px solid black;
    padding: .375rem .75rem;
    margin: .5em auto;
    width: 16.4em;
    color: rgba(0, 0, 0, .9);
    border-radius: 24px;
    transition: 0.5s;
    cursor: pointer;
    vertical-align: middle;
    outline: 0;
}

.send-solution-button:hover {
    background: black;
    color: white;
    appearance:none;
    outline: 0;
}

.send-solution-button:focus {
    appearance:none;
    outline: 0;
    line-height: 1.5;
    text-align: center;
    border: 2px solid black;
    padding: .375rem .75rem;
}

/*Julia standings table*/

.standings-table {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    color: black;
}

.standings-table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid black;
}

.standings-table td, .standings-table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid black;
}
