{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/FontAwesome_Free/css/all.min.css' %}">
</head>
<body>
<div class="container contest-container">
    <div class="row contest-row">
        <div class="col-3">
            <div class="nav flex-column nav-pills" id="problem-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="problem-1-tab" data-toggle="pill" href="#problem-1-content" role="tab" aria-controls="problem-1-content" aria-selected="true">Problem I</a>
                <a class="nav-link" id="problem-2-tab" data-toggle="pill" href="#problem-2-content" role="tab" aria-controls="problem-2-content" aria-selected="false">Problem II</a>
                <a class="nav-link" id="problem-3-tab" data-toggle="pill" href="#problem-3-content" role="tab" aria-controls="problem-3-content" aria-selected="false">Problem III</a>
                <a class="nav-link" id="problem-4-tab" data-toggle="pill" href="#problem-4-content" role="tab" aria-controls="problem-4-content" aria-selected="false">Problem IV</a>
            </div>
        </div>

        <div class="col-9">
            <div class="tab-content" id="problem-content">
                <div class="tab-pane fade show active" id="problem-1-content" role="tabpanel" aria-labelledby="problem-1-tab">

                    <div class="header">
                        <h1>
                            Task About the Lorem
                        </h1>
                    </div>

                    <div class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam commodi culpa deleniti dignissimos dolores dolorum et exercitationem harum laudantium magni, maxime minima, nisi quidem quo recusandae suscipit vel veritatis vitae?
                    </div>

                    <form>
                        <input class="upload-solution" type="file" id="upload-solution-ID">
                        <label class="btn upload-solution-label" for="upload-solution-ID">Choose your program</label>
                    </form>

                    <select class="language-select" id="exampleFormControlSelect1">
                        <option value="" disabled selected hidden>Choose your language</option>
                        <option value="">Python 3</option>
                        <option value="">PascalABC</option>
                        <option value="">Java</option>
                        <option value="">C++</option>
                        <option value="">C#</option>
                        <option value="">C</option>
                        <option value="">PHP</option>
                        <option value="">Python 2</option>
                        <option value="">NASM</option>
                    </select>
                </div>
                <div class="tab-pane fade" id="problem-2-content" role="tabpanel" aria-labelledby="problem-2-tab">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci blanditiis, commodi cumque deleniti dolores eos esse facere fugiat iusto natus nihil pariatur quaerat, quidem quo ratione saepe tempora? Error, quos!</div>
                <div class="tab-pane fade" id="problem-3-content" role="tabpanel" aria-labelledby="problem-3-tab">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda atque cumque illum maxime neque sapiente sint sit vero? Ab aspernatur cumque dicta ex facilis id labore nam perspiciatis quas quasi!</div>
                <div class="tab-pane fade" id="problem-4-content" role="tabpanel" aria-labelledby="problem-4-tab">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi exercitationem harum modi tempore. Aperiam aut autem dicta dolorem fugiat illum ipsum iure labore minima modi provident repellat suscipit voluptas, voluptates!</div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
</body>
</html>
