{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error 404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @font-face {
            font-family: "JetBrains Mono";
            src: url(../static/fonts/JetBrains_Mono/woff2/JetBrainsMono-Regular.woff2);
        }
    </style>
</head>
<body style="position: relative;
             font-family: 'JetBrains Mono', serif">
    <div class="error-message" style="
                                position: absolute;
                                text-align: center;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);">
        <h1>
            Sorry, that page doesn't exist :(
        </h1>
        <h6>
            I call this Error 404
        </h6>
    </div>
</body>
</html>