<div class="login-form">
    <h2>Hi, I'm Julia.</h2>
    <div class="login-info">Tell me your username and password.</div>
    <label for="username"></label>
    <input type="text" name="Username" id="username" placeholder="Username">
    <label for="password"></label>
    <input type="password" name="Password" id="password" placeholder="Password" autocomplete="on">
    <button class="major-button" type="button" name="Login" value="Login" id="login-button">Login</button>
    <div class="unusual-actions">
        <div class="reset-password"><span id="change-to-reset-password-form">I forgot my password.</span></div>
        <div class="unusual-actions-sep">||</div>
        <div class="registration"><span id="change-to-registration-form">We're not acquainted.</span></div>
    </div>
    <a href="https://github.com/arcturus5340/julia" class="social-circle icoGitHub" title="GitHub"><i class="fab fa-github"></i></a>
</div>
