<div class="registration-form">
    <h2>Let's get acquainted!</h2>
    <div class="login-info">I need your future username,</div>
    <div class="login-info">your e-mail & your future password.</div>
    <label for="reg-username"></label>
    <input type="text" name="reg-Username" id="reg-username" placeholder="Username">
    <label for="reg-e-mail"></label>
    <input type="text" name="reg-E-mail" id="reg-e-mail" placeholder="E-mail">
    <label for="reg-password"></label>
    <input type="password" name="reg-Password" id="reg-password" placeholder="Password" autocomplete="on">
    <button class="major-button" type="button" name="Login" value="Login">Sign Up</button>
    <div class="back-to-login">
            <span id="login">We're already acquainted.</span>
    </div>
    <a href="https://github.com/arcturus5340/julia" class="social-circle icoGitHub" title="GitHub"><i class="fab fa-github"></i></a>
</div>
