<div class="reset-form">
    <h2>Oh, let me help you.</h2>
    <div class="login-info">Tell me your username or e-mail.</div>
    <div class="login-info">I'll send you a link to get back into your account.</div>
    <label for="UsernameOrEmail">
    </label><input type="text" name="UsernameOrEmail" id="UsernameOrEmail" placeholder="Username or e-mail">
    <button class="major-button" type="button" name="Send" value="Send" >Send</button>
    <div class="back-to-login">
            <span id="login">I remembered my password.</span>
    </div>
    <a href="https://github.com/arcturus5340/julia" class="social-circle icoGitHub" title="GitHub"><i class="fab fa-github"></i></a>
</div>
