<div class="reset-form">
    <h2>Oh, let me help you.</h2>
    <div class="form-info" id="form-info">Tell me your username or e-mail. <br> I'll send you a link to get back into your account.</div>
    <label for="UsernameOrEmail">
    </label><input type="text" name="UsernameOrEmail" id="user-key" placeholder="Username or e-mail">
    <button class="major-button" type="button" name="Reset-password" value="Reset-password" id="reset-password-button">Send</button>
    <div class="back-to-login">
            <span id="change-to-login-form">I remembered my password.</span>
    </div>
    <a href="https://github.com/arcturus5340/julia" class="social-circle icoGitHub" title="GitHub"><i class="fab fa-github"></i></a>
</div>
