<table class="standings-table table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>Username</th>
        <th>I</th>
        <th>II</th>
        <th>III</th>
        <th>IV</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="number-cell">
            1
        </td>
        <td class="username-cell">
            more-suo
        </td>
        <td class="status-cell">+</td>
        <td class="status-cell">+</td>
        <td class="status-cell">+</td>
        <td class="status-cell">-</td>
    </tr>
    <tr>
        <td class="number-cell">
            1
        </td>
        <td class="username-cell">
            more-suo
        </td>
        <td class="status-cell">+</td>
        <td class="status-cell">+</td>
        <td class="status-cell">+</td>
        <td class="status-cell">-</td>
    </tr>
    <tr><td class="number-cell">
        1
    </td>
        <td class="username-cell">
            more-suo
        </td>
        <td class="status-cell">+</td>
        <td class="status-cell">+</td>
        <td class="status-cell">+</td>
        <td class="status-cell">-</td>
    </tr>
    <tr>
        <td class="number-cell">
            1
        </td>
        <td class="username-cell">
            more-suo
        </td>
        <td class="status-cell">+</td>
        <td class="status-cell">+</td>
        <td class="status-cell">+</td>
        <td class="status-cell">-</td>
    </tr>
    <tr>
        <td class="number-cell">
            1
        </td>
        <td class="username-cell">
            more-suo
        </td>
        <td class="status-cell">+</td>
        <td class="status-cell">+</td>
        <td class="status-cell">+</td>
        <td class="status-cell">-</td>
    </tr>
    </tbody>
</table>