<div class="tab-pane fade show active" id="problem-1-content" role="tabpanel" aria-labelledby="problem-1-tab">
    <div class="header">
        <h1>
            Task Title
        </h1>
    </div>

    <table class="limits-table">
        <tbody>
        <tr>
            <td class="task-parameter"><i class="fas fa-hourglass"></i> TL </td>
            <td class="task-parameter"><i class="fas fa-memory"></i> ML </td>
        </tr>
        </tbody>
    </table>

    <div class="description">
        Task description.
    </div>

    <table class="io-table">
        <thead>
        <tr>
            <th scope="col"><i class="fas fa-arrow-right"></i> Input </th>
            <th scope="col"><i class="fas fa-arrow-left"></i> Output </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><code>Input Sample</code></td>
            <td><code>Output Sample</code></td>
        </tr>
        <tr>
            <td><code>Input Sample</code></td>
            <td><code>Output Sample</code></td>
        </tr>
        </tbody>
    </table>

</div>