<a class="nav-link active" id="task-ID-tab" data-toggle="pill" href="#task-ID-content" role="tab" aria-controls="task-ID-content" aria-selected="true">Problem I</a>
<div class="tab-pane fade show active" id="task-ID-content" role="tabpanel" aria-labelledby="task-ID-tab">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam commodi culpa deleniti dignissimos dolores dolorum et exercitationem harum laudantium magni, maxime minima, nisi quidem quo recusandae suscipit vel veritatis vitae?
    <form>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="upload-program">
            <label class="custom-file-label" for="customFile">Choose your program</label>
        </div>
    </form>
</div>