<a class="nav-link active" id="task-ID-tab" data-toggle="pill" href="#task-ID-content" role="tab" aria-controls="task-ID-content" aria-selected="true">
    Problem I
</a>
<div class="tab-pane fade show active" id="task-ID-content" role="tabpanel" aria-labelledby="task-ID-tab">
    <div class="header">
        <h1>
            Task About the Lorem
        </h1>
    </div>

    <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam commodi culpa deleniti dignissimos dolores dolorum et exercitationem harum laudantium magni, maxime minima, nisi quidem quo recusandae suscipit vel veritatis vitae?
    </div>

    <form>
        <input class="upload-solution" type="file" id="upload-solution-ID">
        <label class="btn upload-solution-label" for="upload-solution-ID">Choose your program</label>
    </form>
</div>